@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
  --color-gabu-900: #071739;
  --color-gabu-700: #1C3551;
  --color-gabu-500: #486382;
  --color-gabu-300: #A4B5C4;
  --color-gabu-100: #CDD5D8;
  --color-gabu-error: #D9534F;
  --font-style-rubik: 'Rubik', sans-serif;
}

body {
  font-family: var(--font-style-rubik);
}

@layer utilities {
  dialog::backdrop {
    @apply bg-gabu-900/50;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}