ul::-webkit-scrollbar {
  background: var(--color-gabu-900);
  height: 0.5em;
  border-radius: 0.5em;
}

ul::-webkit-scrollbar-thumb {
  background-color: var(--color-gabu-100);
  border-radius: 1em;
  border: .35em solid var(--color-gabu-900);
}

.options-list::-webkit-scrollbar {
  background: var(--color-gabu-100);
  height: 1.1em;
  border-radius: 2em;
}

.options-list::-webkit-scrollbar-thumb {
  background-color: var(--color-gabu-700);
  border-radius: 2em;
  border: .3em solid var(--color-gabu-100);
}

.nav-items::-webkit-scrollbar {
  background: var(--color-gabu-300);
  height: 0.2em;
  border-radius: 0.5em;
}

.nav-items::-webkit-scrollbar-thumb {
  background-color: var(--color-gabu-500);
  border-radius: 1em;
  cursor: pointer;
}