.table-scroll::-webkit-scrollbar {
  background: var(--color-gabu-100);
  height: .5em;
  width: .5em;
}

.table-scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-gabu-900);
  border-radius: .5em;
}

.options-list::-webkit-scrollbar,.table-container::-webkit-scrollbar {
  background: var(--color-gabu-100);
  height: .9em;
  border-radius: 2em;
}

.options-list::-webkit-scrollbar-thumb,.table-container::-webkit-scrollbar-thumb {
  background-color: var(--color-gabu-700);
  border-radius: 2em;
  border: .3em solid var(--color-gabu-100);
}

.main-content::-webkit-scrollbar {
  background: var(--color-gabu-100);
  height: 1.1em;
  border-radius: 2em;
}

.main-content::-webkit-scrollbar-thumb {
  background-color: var(--color-gabu-700);
  border-radius: 2em;
  border: .3em solid var(--color-gabu-100);
}

.fields-table::-webkit-scrollbar {
  background: var(--color-gabu-700);
  height: .5em;
  width: .5em;
}

.fields-table::-webkit-scrollbar-thumb {
  background-color: var(--color-gabu-100);
  border-radius: .5em;
}

.desc-textarea::-webkit-scrollbar {
  width: 0.7em;
  background: var(--color-gabu-100);
}

.desc-textarea::-webkit-scrollbar-thumb {
  background-color: var(--color-gabu-700);
  border-radius: .5em;
  border: .12em solid var(--color-gabu-100);
}

.baja-modal-table-scroll::-webkit-scrollbar {
  width: 0.7em;
  height: 0.7em;
  background: var(--color-gabu-100);
}

.baja-modal-table-scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-gabu-700);
  border-radius: .5em;
  border: .12em solid var(--color-gabu-100);
}