::-webkit-scrollbar {
  background: var(--color-gabu-100);
  height: 1.1em;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-gabu-700);
  border-radius: 2em;
  border: .3em solid var(--color-gabu-100);
}

ul::-webkit-scrollbar {
  background: var(--color-gabu-900);
  height: 0.5em;
  border-radius: 0.5em;
}

ul::-webkit-scrollbar-thumb {
  background-color: var(--color-gabu-100);
  border-radius: 1em;
  border: .35em solid var(--color-gabu-900);
}